<launch>
  <!-- subscribes to cmd_vel topic -->
  <!-- publishes odom topic with base_link frame -->
  <!-- broadcasts odom->base_link transform -->
  <node pkg="roboteq_diff_driver" type="driver" name="roboteq_diff_driver" output="screen">
    <!-- specify cmd_vel topic -->
    <param name="cmdvel_topic" value="/tender_bot/cmd_vel" type="str"/>
    <!-- specify odom topic -->
    <param name="odom_topic" value="/tender_bot/odom" type="str"/>
    <!-- specify port for roboteq main wheels controller -->
    <param name="port" value="/dev/TenderWheels" type="str"/>
    <!-- specify whether to use open-loop motor speed control (as opposed to closed-loop)-->
    <param name="open_loop" value="false" />
    <!-- specify robot wheel circumference in meters  -->
    <param name="wheel_circumference" value="0.26" />
    <!-- specify robot track width in meters  -->
    <param name="track_width" value="1.1" />
    <!-- specify pulse-per-revolution for motor encoders  -->
    <param name="encoder_ppr" value="1000" />
    <!-- specify counts-per-revolution for motor encoders (ppr*4 for quadrature encoders)  -->
    <param name="encoder_cpr" value="4000" />
    <!-- specify port for roboteq jockey wheel controller -->
    <param name="port2" value="/dev/TenderJockey" type="str"/>
    <!-- specify whether to use open-loop motor speed control (as opposed to closed-loop)-->
    <param name="open_loop2" value="true" />
    <!-- specify pulse-per-revolution for motor encoders  -->
    <param name="encoder_ppr2" value="1000" />
    <!-- specify counts-per-revolution for motor encoders (ppr*4 for quadrature encoders)  -->
    <param name="encoder_cpr2" value="4000" />
  </node>
</launch>
